<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-white shadow">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <a href="#" class="btn-shine">DAWA LHAKOR</a>

      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link active" routerLink="/">
              <button>Home</button>
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about us">
              <button>About Us</button>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" routerLink="/customer">
              <button>customer</button>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link active" routerLink="/tourist">
              <button>Tourist</button>
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/taxi">
              <button>Taxi</button>
            </a>
          </li>
          







        </ul>


      </div>
    </div>

  </nav>
</body>

</html>