
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="aboutus.component.css">
  <title>Document</title>
</head>
<body>
  <section class="hero">
    <!-- <div class="heading">
      <h1>About Us</h1>
    </div> -->
    <div class="container">
      <div class="hero-content">
        <h2>Welcome To Our Website</h2>
        <p>At Dawa Lhakor, we are dedicated to providing reliable and convenient transportation solutions for our valued customers. Whether you need a ride to the airport, a quick trip across town, or a comfortable ride for a special occasion, we've got you covered.</p>
        <button class="cta-button"><a href="https://www.drukride.com/#menu-1">Learn More</a></button>
      </div>
      <div class="hero-image">
        <img src="https://static.wixstatic.com/media/0853d6_0d3313be3d5241c999783f4d4c1131cd~mv2.png/v1/fill/w_460,h_460,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/toyota-innova-crysta.png" alt="">
      </div>
    </div>
  </section>
</body>
</html>