
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <title>Document</title>
</head>
<body>
  <section class="hero">
    
    <div class="container">
      <div class="hero-content">
        <h2>Welcome</h2>
        <p>Welcome to Sharip Lhakor, your premier destination for reliable and convenient transportation solutions. Our mission is simple: to provide our valued customers with seamless journeys, whether it's a ride to the airport, a swift trip across town, or a luxurious transport for that special occasion.</p>
        
        <!-- <button class="cta-button"><a href="https://www.drukride.com/#menu-1">Learn More</a></button> -->
        
      </div>
      <div class="hero-image">
        <img src="https://wallpapercave.com/wp/wp10331729.jpg" alt="">
      </div>
     
    </div>

    

    <!-- <h4 class="container">Sharip Lhakor Offers Reiable Taxi Serivice In Paro &amp; Thimphu.</h4>
     -->


  <div class="heading">
    <h1>  Our Service</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 mb-3" ><a href="/customer">
      <button class="button-card" >
  <div class="card">
    <div class="content">
      <p class="heading">customer </p>
      <p class="para">
        As a valued customer, we recognize the importance of your time and strive to ensure that every interaction with us is both memorable 
      </p>
      
    </div>
  </div>
 
</button>
</a>
</div>

  
<div class="col-sm-3 mb-3" ><a href="/tourist">
  <button class="button-card">
  <div class="card">
    <div class="content">
      <p class="heading">Tourist </p>
      <p class="para">
        As a tourist, we understand that your time here is precious, and we're here to ensure that every moment is memorable and hassle-free.
      
    </div>
  </div>
 
</button>
</a>
  </div>


</div>
  </section>

  
  

  


  



</body>
</html>