<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Sharip Lhakor</h4>
          <ul>
            <li><a routerLink="/about us">about us</a></li>
            
          
          
          </ul>
        </div>

        <div class="footer-col">
          <h4>Travel plans</h4>
          <ul>
            <li><a href>Reserve</a></li>
            <li><a href>sharing</a></li>
            
          </ul>
        </div>

        <div class="footer-col">
          <h4>Global Sites</h4>
          <ul>
            <li><a href="#">Bhutan</a></li>
            <li><a href="#">India</a></li>
            
          </ul>
        </div>

        <div class="footer-col">
          <h4>Stay connected</h4>
          <div class="social-links">
          
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://bt.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
          
          </div>
          <div class="number">+975 77623430 | sharip Lhakor</div>
        </div>

       
      </div>
    </div>

  </footer>
  
</body>
</html>